<div class="vendors col-sm-12">
  <ol class="breadcrumb row">
    <li class="active">Dashboard</li>
  </ol>

  <button class="btn btn-primary pull-right">View All Patients</button>
  <button class="btn btn-primary pull-left">+ Add Vendor</button>

  <section>
  	<table class="table table-sm">
      <thead>
        <tr>
          <th>Status</th>
          <th>Vendor</th>
          <th>Passing Products</th>
          <th>Failing Products</th>
          <th>Incomplete Products</th>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr class = 'clickable-row' data-href = "#">
          <td><%= image_tag('checkmark.svg') %></td>
          <td><a href = "#">Apples</a></td>
  	      <td>1</td>
  	      <td>0</td>
  	      <td>0</td>
  	      <td><button class="btn btn-xs btn-default pull-right">Edit Vendor</button></td>
        </tr>
        <tr class = 'clickable-row' data-href = "#">
          <td><%= image_tag('errormark.svg') %></td>
          <td><a href = "#">Bananas</a></td>
          <td>2</td>
          <td>1</td>
          <td>1</td>
          <td><button class="btn btn-xs btn-default pull-right">Edit Vendor</button></td>
        </tr>
        <tr class = 'clickable-row' data-href = "#">
          <td><%= image_tag('errormark.svg') %></td>
          <td><a href = "#">Chairs</a></td>
          <td>1</td>
          <td>1</td>
          <td>0</td>
          <td><button class="btn btn-xs btn-default pull-right">Edit Vendor</button></td>
        </tr>
        <tr class = 'clickable-row' data-href = "#">
          <td><%= image_tag('errormark.svg') %></td>
          <td><a href = "#">Desks</a></td>
          <td>2</td>
          <td>3</td>
          <td>2</td>
          <td><button class="btn btn-xs btn-default pull-right">Edit Vendor</button></td>
        </tr>
        <tr class = 'clickable-row' data-href = "#">
          <td><%= image_tag('checkmark.svg') %></td>
          <td><a href = "#">Elephants</a></td>
          <td>3</td>
          <td>0</td>
          <td>0</td>
          <td><button class="btn btn-xs btn-default pull-right">Edit Vendor</button></td>
        </tr>
        <tr class = 'clickable-row' data-href = "#">
          <td><%= image_tag('errormark.svg') %></td>
          <td><a href = "#">Fish</a></td>
          <td>2</td>
          <td>0</td>
          <td>1</td>
          <td><button class="btn btn-xs btn-default pull-right">Edit Vendor</button></td>
        </tr>
      </tbody>
    </table>
  </section>

</div>