<div class="vendors col-sm-12">

  <ol class="breadcrumb row">
    <li class="active">Dashboard</li>
  </ol>

  <%= button_to "+ Add Vendor", new_vendor_path, :method => :get, :class => "btn btn-primary pull-left" %>
  <button class="btn btn-primary pull-right">View All Patients</button>

  <section>
  	<table class="table table-sm">
      <thead>
        <tr>
          <th>Status</th>
          <th>Vendor</th>
          <th>Passing Products</th>
          <th>Failing Products</th>
          <th>Incomplete Products</th>
          <th>Total Products</th>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% @vendors.each do |vendor| %>
          <tr>
            <td>
              <% if vendor.passing_products == vendor.total_products %>
                <%= image_tag('checkmark.svg') %>
              <% else %>
                <%= image_tag('errormark.svg') %>
              <% end %>
            </td>
            <td><%= link_to vendor.name, vendors_path(vendor) %></td>
            <td><%= vendor.passing_products     %></td>
            <td><%= vendor.failing_products     %></td>
            <td><%= vendor.incomplete_products  %></td>
            <td><%= vendor.total_products       %></td>
            <td><%= button_to "Edit Vendor", edit_vendor_path(vendor), :method => :get, :class => "btn btn-xs btn-default pull-right" %></td>
          </tr>
        <% end %>
        <!-- <tr>
          <td><%= image_tag('checkmark.svg') %></td>
          <td><a href = "#">Apples</a></td>
  	      <td>1</td>
  	      <td>0</td>
  	      <td>0</td>
          <td>1</td>
  	      <td><button class="btn btn-xs btn-default pull-right">Edit Vendor</button></td>
        </tr>
        <tr>
          <td><%= image_tag('errormark.svg') %></td>
          <td><a href = "#">Bananas</a></td>
          <td>2</td>
          <td>1</td>
          <td>1</td>
          <td>4</td>
          <td><button class="btn btn-xs btn-default pull-right">Edit Vendor</button></td>
        </tr>
        <tr>
          <td><%= image_tag('errormark.svg') %></td>
          <td><a href = "#">Chairs</a></td>
          <td>1</td>
          <td>1</td>
          <td>0</td>
          <td>2</td>
          <td><button class="btn btn-xs btn-default pull-right">Edit Vendor</button></td>
        </tr>
        <tr>
          <td><%= image_tag('errormark.svg') %></td>
          <td><a href = "#">Desks</a></td>
          <td>2</td>
          <td>3</td>
          <td>2</td>
          <td>7</td>
          <td><button class="btn btn-xs btn-default pull-right">Edit Vendor</button></td>
        </tr>
        <tr>
          <td><%= image_tag('checkmark.svg') %></td>
          <td><a href = "#">Elephants</a></td>
          <td>3</td>
          <td>0</td>
          <td>0</td>
          <td>3</td>
          <td><button class="btn btn-xs btn-default pull-right">Edit Vendor</button></td>
        </tr>
        <tr>
          <td><%= image_tag('errormark.svg') %></td>
          <td><a href = "#">Fish</a></td>
          <td>2</td>
          <td>0</td>
          <td>1</td>
          <td>3</td>
          <td><button class="btn btn-xs btn-default pull-right">Edit Vendor</button></td>
        </tr> -->
      </tbody>
    </table>
  </section>

</div>